# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

In [1]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data/nba.sqlite'

In [2]:
print(DATA_PATH)

c:\Users\nick\Projects\ps_2_ex3_database\data\nba.sqlite

## Create a SQLite connection and run some SQL queries

In [3]:
con = sql.connect(DATA_PATH)  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,None,None,None,None,None,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,None,None,None,None,None,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,None,None,None,None,None,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,None,None,None,None,None,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,None,None,None,None,None,NaN,50.0,17,0,Regular Season

In [4]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspeact: Replace TABLE_NAME with the name of the table you want to inspect
query = """
    SELECT *
    FROM
    sqlite_master
"""

pd.read_sql(query, con).sort_values('name')

,type,name,tbl_name,rootpage,sql
10,table,common_player_info,common_player_info,4314,"CREATE TABLE ""common_player_info"" (\n""person_i..."
13,table,draft_combine_stats,draft_combine_stats,4313,"CREATE TABLE ""draft_combine_stats"" (\n""season""..."
14,table,draft_history,draft_history,4318,"CREATE TABLE ""draft_history"" (\n""person_id"" TE..."
0,table,game,game,52,"CREATE TABLE ""game"" (\n""season_id"" TEXT,\n ""t..."
5,table,game_info,game_info,9457,"CREATE TABLE ""game_info"" (\n""game_id"" TEXT,\n ..."
1,table,game_summary,game_summary,4564,"CREATE TABLE ""game_summary"" (\n""game_date_est""..."
17,table,high_score,high_score,4322,"CREATE TABLE high_score(\n game_id TEXT,\n t..."
18,table,high_score_1,high_score_1,573414,"CREATE TABLE high_score_1(\n game_id TEXT,\n ..."
16,table,highest_scoring_games,highest_scoring_games,4321,CREATE TABLE highest_scoring_games(\n game_id...
4,table,inactive_players,inactive_players,7443,"CREATE TABLE ""inactive_players"" (\n""game_id"" T..."
6,table,line_score,line_score,10084,"CREATE TABLE ""line_score"" (\n""game_date_est"" T..."
3,table,officials,officials,6747,"CREATE TABLE ""officials"" (\n""game_id"" TEXT,\n ..."
2,table,other_stats,other_stats,6025,"CREATE TABLE ""other_stats"" (\n""game_id"" TEXT,\..."
7,table,play_by_play,play_by_play,12362,"CREATE TABLE ""play_by_play"" (\n""game_id"" TEXT,..."
8,table,player,player,2,"CREATE TABLE ""player"" (\n""id"" TEXT,\n ""full_n..."
9,table,team,team,51,"CREATE TABLE ""team"" (\n""id"" TEXT,\n ""full_nam..."
11,table,team_details,team_details,4310,"CREATE TABLE ""team_details"" (\n""team_id"" TEXT,..."
12,table,team_history,team_history,4312,"CREATE TABLE ""team_history"" (\n""team_id"" TEXT,..."
15,table,team_info_common,team_info_common,4320,"CREATE TABLE ""team_info_common"" (\n""team_id"" T..."

In [5]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
    SELECT name
    FROM sqlite_master
    WHERE type='table'
"""
pd.read_sql(query, con)

                     name
0                    game
1            game_summary
2             other_stats
3               officials
4        inactive_players
5               game_info
6              line_score
7            play_by_play
8                  player
9                    team
10     common_player_info
11           team_details
12           team_history
13    draft_combine_stats
14          draft_history
15       team_info_common
16  highest_scoring_games
17             high_score
18           high_score_1

In [16]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(game)
"""
pd.read_sql(query, con)

    cid                    name       type  notnull dflt_value  pk
0     0               season_id       TEXT        0       None   0
1     1            team_id_home       TEXT        0       None   0
2     2  team_abbreviation_home       TEXT        0       None   0
3     3          team_name_home       TEXT        0       None   0
4     4                 game_id       TEXT        0       None   0
5     5               game_date  TIMESTAMP        0       None   0
6     6            matchup_home       TEXT        0       None   0
7     7                 wl_home       TEXT        0       None   0
8     8                     min    INTEGER        0       None   0
9     9                fgm_home       REAL        0       None   0
10   10                fga_home       REAL        0       None   0
11   11             fg_pct_home       REAL        0       None   0
12   12               fg3m_home       REAL        0       None   0
13   13               fg3a_home       REAL        0       None   0
14   14            fg3_pct_home       REAL        0       None   0
15   15                ftm_home       REAL        0       None   0
16   16                fta_home       REAL        0       None   0
17   17             ft_pct_home       REAL        0       None   0
18   18               oreb_home       REAL        0       None   0
19   19               dreb_home       REAL        0       None   0
20   20                reb_home       REAL        0       None   0
21   21                ast_home       REAL        0       None   0
22   22                stl_home       REAL        0       None   0
23   23                blk_home       REAL        0       None   0
24   24                tov_home       REAL        0       None   0
25   25                 pf_home       REAL        0       None   0
26   26                pts_home       REAL        0       None   0
27   27         plus_minus_home    INTEGER        0       None   0
28   28    video_available_home    INTEGER        0       None   0
29   29            team_id_away       TEXT        0       None   0
30   30  team_abbreviation_away       TEXT        0       None   0
31   31          team_name_away       TEXT        0       None   0
32   32            matchup_away       TEXT        0       None   0
33   33                 wl_away       TEXT        0       None   0
34   34                fgm_away       REAL        0       None   0
35   35                fga_away       REAL        0       None   0
36   36             fg_pct_away       REAL        0       None   0
37   37               fg3m_away       REAL        0       None   0
38   38               fg3a_away       REAL        0       None   0
39   39            fg3_pct_away       REAL        0       None   0
40   40                ftm_away       REAL        0       None   0
41   41                fta_away       REAL        0       None   0
42   42             ft_pct_away       REAL        0       None   0
43   43               oreb_away       REAL        0       None   0
44   44               dreb_away       REAL        0       None   0
45   45                reb_away       REAL        0       None   0
46   46                ast_away       REAL        0       None   0
47   47                stl_away       REAL        0       None   0
48   48                blk_away       REAL        0       None   0
49   49                tov_away       REAL        0       None   0
50   50                 pf_away       REAL        0       None   0
51   51                pts_away       REAL        0       None   0
52   52         plus_minus_away    INTEGER        0       None   0
53   53    video_available_away    INTEGER        0       None   0
54   54             season_type       TEXT        0       None   0

In [7]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    PRAGMA table_info(game)
"""

print(pd.read_sql(query, con))

             game_date
0  1946-11-01 00:00:00
    cid                    name       type  notnull dflt_value  pk
0     0               season_id       TEXT        0       None   0
1     1            team_id_home       TEXT        0       None   0
2     2  team_abbreviation_home       TEXT        0       None   0
3     3          team_name_home       TEXT        0       None   0
4     4                 game_id       TEXT        0       None   0
5     5               game_date  TIMESTAMP        0       None   0
6     6            matchup_home       TEXT        0       None   0
7     7                 wl_home       TEXT        0       None   0
8     8                     min    INTEGER        0       None   0
9     9                fgm_home       REAL        0       None   0
10   10                fga_home       REAL        0       None   0
11   11             fg_pct_home       REAL        0       None   0
12   12               fg3m_home       REAL        0       None   0
13   13               fg3a_home       REAL        0       None   0
14   14            fg3_pct_home       REAL        0       None   0
15   15                ftm_home       REAL        0       None   0
16   16                fta_home       REAL        0       None   0
17   17             ft_pct_home       REAL        0       None   0
18   18               oreb_home       REAL        0       None   0
19   19               dreb_home       REAL        0       None   0
20   20                reb_home       REAL        0       None   0
21   21                ast_home       REAL        0       None   0
22   22                stl_home       REAL        0       None   0
23   23                blk_home       REAL        0       None   0
24   24                tov_home       REAL        0       None   0
25   25                 pf_home       REAL        0       None   0
26   26                pts_home       REAL        0       None   0
27   27         plus_minus_home    INTEGER        0       None   0
28   28    video_available_home    INTEGER        0       None   0
29   29            team_id_away       TEXT        0       None   0
30   30  team_abbreviation_away       TEXT        0       None   0
31   31          team_name_away       TEXT        0       None   0
32   32            matchup_away       TEXT        0       None   0
33   33                 wl_away       TEXT        0       None   0
34   34                fgm_away       REAL        0       None   0
35   35                fga_away       REAL        0       None   0
36   36             fg_pct_away       REAL        0       None   0
37   37               fg3m_away       REAL        0       None   0
38   38               fg3a_away       REAL        0       None   0
39   39            fg3_pct_away       REAL        0       None   0
40   40                ftm_away       REAL        0       None   0
41   41                fta_away       REAL        0       None   0
42   42             ft_pct_away       REAL        0       None   0
43   43               oreb_away       REAL        0       None   0
44   44               dreb_away       REAL        0       None   0
45   45                reb_away       REAL        0       None   0
46   46                ast_away       REAL        0       None   0
47   47                stl_away       REAL        0       None   0
48   48                blk_away       REAL        0       None   0
49   49                tov_away       REAL        0       None   0
50   50                 pf_away       REAL        0       None   0
51   51                pts_away       REAL        0       None   0
52   52         plus_minus_away    INTEGER        0       None   0
53   53    video_available_away    INTEGER        0       None   0
54   54             season_type       TEXT        0       None   0

In [8]:
# TODO: Find four interesting facts about the data and write a query to find the answer

In [ ]:
# Top scoring games

cursor = con.cursor()

# CREATE TABLE query to find the top scoring games 
con.execute("DROP TABLE IF EXISTS high_score")
query_create = """
CREATE TABLE high_score AS
SELECT 
    game_id,
    team_id_home AS team_id,
    team_abbreviation_home AS team,
    pts_home AS points
FROM 
    line_score
UNION ALL
SELECT 
    game_id,
    team_id_away AS team_id,
    team_abbreviation_away AS team,
    pts_away AS points
FROM 
    line_score
ORDER BY 
    points DESC
LIMIT 10;
"""

# Execute the CREATE TABLE query
cursor.execute(query_create)
con.commit() #used to avoid the none errors


query_select = "SELECT * FROM high_score;"
top_scorers_df = pd.read_sql(query_select, con)

print(top_scorers_df)

      game_id     team_id team  points
0  0031500001  1610616834  WST   196.0
1  0031600001  1610616834  WST   192.0
2  0031600001  1610616834  WST   192.0
3  0028300255  1610612765  DET   186.0
4  0028300255  1610612743  DEN   184.0
5  0032200001  1610616833  GNS   184.0
6  0032200001  1610616833  GNS   184.0
7  0031600001  1610616833  EST   182.0
8  0031600001  1610616833  EST   182.0
9  0031800001  1610616834  ASO   178.0

In [ ]:
#Average points difference between home and away games
query = """
SELECT
    team_name_home AS team,
    AVG(pts_home - pts_away) AS avg_home_away_point_diff
FROM
    game
GROUP BY
    team
ORDER BY
    avg_home_away_point_diff DESC;
"""

print(pd.read_sql(query, con))

                                team  avg_home_away_point_diff
0       Barcelona FC Barcelona Regal                 14.000000
1                 Syracuse Nationals                  8.349495
2                 Minneapolis Lakers                  8.039046
3                   Anderson Packers                  7.447368
4                    Capital Bullets                  6.755556
..                               ...                       ...
93                  China Team China                -24.000000
94   MMT Estudiantes MMT Estudiantes                -25.000000
95    Lyon-Villeurbanne Adecco ASVEL                -25.000000
96  Milano EA7 Emporio Armani Milano                -30.000000
97             Milano Olimpia Milano                -33.000000

[98 rows x 2 columns]

In [ ]:
#largest lead
query = """
SELECT
    game_id,
    team_abbreviation_home,
    largest_lead_home,
    team_abbreviation_away,
    largest_lead_away,
    MAX(largest_lead_home, largest_lead_away) AS largest_lead
FROM
    other_stats
ORDER BY
    largest_lead DESC
LIMIT 10;
"""

print(pd.read_sql(query, con))

      game_id team_abbreviation_home  largest_lead_home  \
0  0022100330                    OKC                  0
1  0012100048                    DAL                 70
2  0022000963                    OKC                  0
3  0029700812                    POR                  0
4  0021701072                    CHA                 65
5  0011700026                    SDS                  0
6  0022000737                    TOR                 61
7  0020200658                    DET                 60
8  0022100717                    BOS                 60
9  0022201230                    GSW                 59

  team_abbreviation_away  largest_lead_away  largest_lead
0                    MEM                 78            78
1                    CHA                  0            70
2                    IND                 67            67
3                    IND                 65            65
4                    MEM                  0            65
5                    HOU                 62            62
6                    GSW                  3            61
7                    BOS                  0            60
8                    SAC                  0            60
9                    POR                  0            59

In [17]:
query = """ 
SELECT
    season_id,
    AVG(pts_home) AS avg_pts_home,
    AVG(pts_away) AS avg_pts_away
FROM
    game
GROUP BY
    season_id
ORDER BY
    season_id;
"""
print(pd.read_sql(query, con))

    season_id  avg_pts_home  avg_pts_away
0       12005     93.936937     93.495495
1       12006     98.225000     96.741667
2       12007     99.037736     94.971698
3       12008     95.809091     95.481818
4       12009    101.491525     97.389831
..        ...           ...           ...
220     42018    109.609756    105.792683
221     42019    110.060241    109.060241
222     42020    111.988235    108.647059
223     42021    108.229885    104.367816
224     42022    111.583333    107.595238

[225 rows x 3 columns]